body {
    font-family: Arial;
    text-align: center;
}

/* Class selector */
.nav-btn {
    width: 80px;
    margin: 5px;
}

/* Image style */
.img {
    width: 200px;
    margin: 10px;
}

/* Background image page */
.home-bg {
    background-image: url("../images/img2.jpg");
    background-size: cover;
}

/* Gradient background */
.gradient-bg {
    background: linear-gradient(to right, lightblue, pink);
}

/* Group selector */
h1, p {
    color: darkblue;
}

/* ID selector example */
#special {
    color: red;
    font-weight: bold;
}

/* Descendant selector */
body p {
    font-size: 18px;
}