body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.nav{
  width: 80px;
}
h1,h2{
  color: darkblue;
}
.big-image{
  background-image: url( "../images/bg.jpg");
  background-size: cover;
}
.gradient{
  background: linear-gradient(to right, red,yellow);
} ul li{
  color: green;
}